@import "vars";
@import "libs";
@import "fonts";
@import "global";


//HEADER

.header{
	height: 670px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-top{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	margin-bottom: 180px;
}
.header__logo{
	cursor: pointer;
}
.header__menu{
	display: flex;
	margin: auto 0;
	&-item{
		a{
			text-transform: uppercase;
			color: #fff;
			transition: all .5s;
		}
		cursor: pointer;	
	}
	&-item:not(:last-child){
		margin-right: 25px;
	}
	&-item:hover{
		a{
			color: #00e0d0;
		}
	}
}
.header__title{
	color: #ffffff;
	font-family: "Playfair Display";
	font-size: calc(17px + 15 * ((100vw - 320px) / (1600 - 320)));
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.header__title::after{
	content:"";
	position: absolute;
	width: 50px;
	height: 1px;
	background-color: #00e0d0;
	left: 50%;
	transform: translatex(-50%);
	top: 45px;
}
.header__slider-text{
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 0.7px;
	text-align: center;
	margin-bottom: 65px;
}
.slick-dots{
	display: flex;
	width: 55px;
	margin: 120px auto 0;
}
.slick-dots li:not(:last-child){
	margin-right: 5px;
}
.slick-dots li{
	width: 10px;
	height: 10px;	
	border: 1px solid #c2c2c2;
	border-radius:50%;
	font-size: 0;
}
.slick-dots .slick-active{
	background-color: #00e0d0;
}

//STORY

.story__wrap{
	display: flex;
}
.story-content{
	margin-left: 100px;
	&__title{
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		margin-bottom: 28px;
	}
	&__text{
		color: #413d4b;
		font-weight: 300;
		line-height: 22px;
		letter-spacing: 0.42px;
		margin-bottom: 30px;
	}
}

//VIDEOS

.videos{
	position: relative;
	background-image: url('../images/video.jpg');
}
.video-play{
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
	&__icon{
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__text{
		text-transform: uppercase;
	}
}
.video__wrap{
	background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
	opacity: 0.85;
	height: calc(300px + 250 * ((100vw - 320px) / (1600 - 320)));
}
.video__wrap.hide{
	background: 0;
	.hide{
		display: none;
	}
}

//EXPERTISE 

.expertise__title{
	margin-bottom: 100px;
}
.expertise__items{
	display: grid;
	grid-gap: 60px;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
.expertise-item{
	text-align: center;
	max-width: 255px;
	margin: 0 auto;
	&__img{
		height: 53px;
		margin-bottom: 35px;
	}
	&__title{
		text-transform: uppercase;
		color: #413d4b;
		letter-spacing: 0.7px;
		margin-bottom: 25px;
	}
	&__text{
		opacity: 0.75;
		color: #333333;
		font-weight: 300;
		line-height: 22px;
		letter-spacing: 0.7px;
	}
}

//TEAM

.team{
	height: 710px;
}
.team__wrap{
	background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
	opacity: 0.85;
	height: 100%;
}
.team__title{
	padding-top: 70px;
	margin-bottom: 65px;
	span{
		color: #fff;
		font-size: calc(20px + 2 * ((100vw - 320px) / (1600 - 320)));
	}
	p{
		color: #f9f9f9
	}
}
.team-composition{
	display: flex;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 70px;
	&__item-img{
		height: 220px;
		img{
			height: 100%;
			width: 100%;
			background-size: cover;
		}
	}
}
.team-composition__item:not(:last-child){
	margin-right: 20px;
}
.team-composition__content{
	border: 1px solid #e1e1e1;
}
.team-name{
	opacity:1;
	letter-spacing: 0.7px;
	padding-top: 21px;
	margin-bottom: 12px;
}
.team-position{
	opacity: 0.7;
	color: #fafafa;
	font-size: 13px;
	font-weight: 300;
	padding-bottom: 21px;
}
.team__text{
	color: #f3f3f3;
	display: block;
	width: 310px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.team__btn{
	width: 145px;
}

//WORKS

.works{
	&-top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}
	&__title{
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.1px;
	}
	&__more{
		color: #413d4b;
		font-family: Roboto;
		letter-spacing: 0.7px;
		margin: auto 0;
	}
	&-examples{
		display: grid;
		grid-auto-flow:column;
		grid-template: 1fr 1fr / repeat(6,1fr);
		margin-bottom: 85px;
		&__item{
			height: 200px;
			img{
				height: 100%;
				width: 100%;
			}
		}
	}
}
.works__btn{
	width: 140px;
}

//QUOTES

.quotes{
	height: 500px;
	text-align: center;
	&__title{
		opacity: 0.9;
		font-family: "Playfair Display";
		font-size: 100px;
		line-height: 22px;
		letter-spacing: 3px;
		padding: 70px 0 40px 0;
	}
	&__text{
		opacity: 0.85;
		font-family: "Playfair Display";
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 50px;
		letter-spacing: 0.4px;
	}
	&__slider-name{
		margin-bottom: 15px;
	}
}
.quotes__slider-photo{
	width: 290px;
	margin: 0 auto;
}
.slider-photo__item{
	img{
		width: 45px;
		height: 45px;
		margin: 0 auto;
	}
}
.slider-arrows{
	position: absolute;
	top: 27px;
	cursor: pointer;
	width: 11px;
	height: 21px;
	&__right{
		right: -20px;
	}
	&__left{
		left: -20px;
	}
}

//FEEDBACK

.feedback__wrap{
	display: flex;
	justify-content: space-between;
}
.form{
	width: 460px;
	&__title{
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		margin-bottom: 35px;
	}
	input{
		width: 100%;
		margin-bottom: 22px;
		padding: 17px 0 17px 20px;
	}
	textarea{
		width: 100%;
		height: 200px;
		padding: 20px 0 0 20px;
		margin-bottom: 20px;
	}
	&__btn{
		width: 120px;
		margin: 0;
	}
}
.clients{
	&__title{
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1.1px;
		margin-bottom: 45px;
	}
	&-list{
		display: grid;
		grid-template: repeat(5,1fr)/ 1fr 1fr;
		grid-gap: 30px;
		&__item{
			margin: auto;
		}
	}
}

//FOOTER

.footer{
	height: 400px;
	&__wrap{
		display: flex;
		justify-content: space-between;
		margin-bottom: 70px;
	}
	&-item{
		width: 290px;
		padding-top: 90px;
		font-weight: 300;
		line-height: 26px;
		letter-spacing: 0.35px;
		&__logo{
			margin:-17px 0 25px;
			
		}
		&__title{
			margin-bottom: 40px;
			font-size: 15px;
			line-height: 26px;
			text-transform: uppercase;
			letter-spacing: 0.75px;
		}
		&__addres{
			position: relative;
			padding-left: 30px;
			margin-bottom: 27px;
			cursor: pointer;
			color: #ffffff;
		}
		&__addres::before{
			content: "";
			position: absolute;
			left: 0;
			top: 3px;
			background-image: url('../images/footer/addres.png');
			width: 14px;
			height: 19px;
		}
		&__phone{
			position: relative;
			padding-left: 30px;
			cursor: pointer;
			color: #ffffff;
		}
		&__phone::before{
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
    		transform: translateY(-50%);
			background-image: url('../images/footer/phone.png');
			width: 17px;
			height: 17px;
		}
	}
	&-item:not(:last-child){
		margin-right: 30px;
	}
}
.footer-under{
	display: flex;
	justify-content: space-between;
	&__menu{
		display: flex;
		text-transform: uppercase;
		&-item{
			cursor: pointer;
			transition: all .5s;
		}
		&-item:not(:last-child){
			margin-right: 30px;
		}
		&-item:hover{
			color: #00e0d0;
		}
	}

}
.footer-item__subscribe{
	position: relative;
	&-input{
		width: 210px;
		padding: 13px;
		background-color: transparent;
		border: 1px solid #ffffff;
		opacity: 0.8;
		color:#fff;
	}
	&-btn{
		position: absolute;
		width: 70px;
		height: 45px;
		bottom: 0;
		margin-left: 6px;
		border: 1px solid #ffffff;
		opacity: 0.5;
		background: url('../images/footer/button.png') no-repeat center #ffffff;
	}
}




























@import "media";